# Python / Django
__pycache__/
*.pyc
/backend/venv/
/backend/db.sqlite3
/backend/logs/

# Flutter / Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
/frontend/build/
/frontend/ios/Pods/
/frontend/ios/.symlinks/
/frontend/macos/Pods/
/frontend/macos/.symlinks/
*.lock

# IDEs y SO
.idea/
.vscode/
*.DS_Store